h1 + p {
    background-color: brown;
}

body > h1 {
    background-color: yellow;
}

body .abc {
    background-color: aqua;
}

body .def {
    background-color: chocolate;
}

body ~ .ghi {
    background-color: darkblue;
}