*{
margin: 0;
padding: 0;

}



/* .a,.b,.c{
    background-color: blueviolet; */
}

/* .a{
    background-color: blueviolet;
}

.b{
    background-color: chartreuse;
}

.c{
    background-color: darksalmon;
} */
 /* div + p {
color: crimson;
 } */